@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 4rem;
    --ft-height: 48rem;
    --main-height: calc(100vh - var(--nav-height));

    background-color: white;
  }
}

@layer components {
  nav {
    @apply h-[var(--nav-height)] flex justify-between items-center p-[0_2rem];
  }

  main {
    @apply min-h-max;
  }

  .main-section {
    @apply p-[3rem] flex flex-col gap-10 justify-center items-center;
  }

  footer {
    @apply h-[var(--ft-height)] p-[3rem_3rem_1rem] flex flex-col justify-center items-center;
  }

  h2 {
    @apply text-h2 font-[600];
  }
}

@layer utilities {
  .footerSNS {
    @apply w-[36px] h-[36px] opacity-85;
  }

  .main-button {
    @apply w-[10rem] bg-orangeBrown text-white rounded-button py-2 hover:bg-darkerOrange
    transition duration-200 ease-in-out delay-75 cursor-pointer border-solid border-[1px]
    border-orangeBrown hover:border-darkerOrange hover:shadow-[0px_0px_6px_0px_#b16e63];
  }

  .white-button {
    @apply w-[10rem] bg-white text-orangeBrown rounded-button py-2 hover:bg-darkerOrange
      transition duration-200 ease-in-out delay-75 cursor-pointer border-solid border-[1px]
      border-orangeBrown hover:text-white hover:shadow-[0px_0px_6px_0px_#b16e63];
  }

  .company-button {
    @apply w-[10rem] bg-white text-searchGreen rounded-button py-2 hover:bg-[#3A4A2E]
      transition duration-200 ease-in-out delay-75 cursor-pointer border-solid border-[1px]
      border-searchGreen hover:text-white hover:shadow-[0px_0px_6px_0px_#5c6358];
  }
}
